
<%= form_with :model => @post do |form| %>
  
  <h1>   Create a new post </h1>
  
  <p>
    <%= form.label "Title of post" %>
    <%= form.text_field "title" %>
  </p>
  <p>
    <%= form.label "Description" %>
    <%= form.text_area "description" %>
    <%= form.label "Date of Post" %>
    <%= form.date_field "posted_on" %>
  </p>
    <%= form.hidden_field "place_id" %>
  
  <%= form.submit %>
<% end %>

<p>
<a href="/places/<%=@place["id"]%>"> Go back to <%=@place["name"]%> main page </a>
</p>
